{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "corejs": {
                    "version": 3,
                    "proposal": true
                }
            }
        ],
        "@babel/preset-typescript"
    ],
    "ignore": ["node_modules", "dist"]
}
